<div class="modal-header">
  <h5 class="modal-title">Détails du membre</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <p><strong>ID :</strong> {{ member.id }}</p>
  <p><strong>Prénom :</strong> {{ member.firstName }}</p>
  <p><strong>Nom :</strong> {{ member.lastName }}</p>
  <p><strong>Email :</strong> {{ member.email }}</p>
  <p><strong>Téléphone :</strong> {{ member.phoneNumber }}</p>
  <p><strong>Date de Naissance :</strong> {{ member.birthday | date: 'yyyy-MM-dd' }}</p>
  <p><strong>Profession :</strong> {{ member.profession }}</p>
  <p><strong>Statut :</strong> {{ member.status }}</p>
  <p><strong>Fraternité :</strong> {{ member.fraternityName }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
</div>
